<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hot Restaurant - Make a Reservation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <article>
            <div class="jumbotron">
                <h1 class="display-4">Make A Reservation</h1>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/tables" role="button">View Tables</a>
                <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label-lg">Table Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="table-number">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label-lg">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label-lg">Time</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="time">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label-lg">Phone Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone-number">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label-lg">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label-lg">Unique ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="unique-id">
                </div>
            </div>

            <button id='reserve-btn'>Reserve Now</button>
        </article>

        <script type='text/javascript'>
            window.onload = function () {
                alert('hello world');
            };
        </script>
    </body>

</html>