<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hot Restaurant - View Tables</title>
    </head>

    <body>
        <h1>View Tables</h1>

        <button>Home</button>
        <br />

        <!-- Table List -->
        <section>
            <h2>Table 1</h2>
            <h4>TABLE CAPACITY</h4>
            <ol>
                <li>12pm: <span id='name'></span></li>
                <li>1pm: <span id='name'></span></li>
                <li>2pm: <span id='name'></span></li>
                <li>3pm: <span id='name'></span></li>
                <li>4pm: <span id='name'></span></li>
                <li>5pm: <span id='name'></span></li>
                <li>6pm: <span id='name'></span></li>
                <li>7pm: <span id='name'></span></li>
                <li>8pm: <span id='name'></span></li>
                <li>9pm: <span id='name'></span></li>
                <li>10pm: <span id='name'></span></li>
                <li>11pm: <span id='name'></span></li>
            </ol>
        </section>
        <section>
            <h2>Table 2</h2>
            <h4>TABLE CAPACITY</h4>
            <ol>
                <li>12pm: <span id='name'></span></li>
                <li>1pm: <span id='name'></span></li>
                <li>2pm: <span id='name'></span></li>
                <li>3pm: <span id='name'></span></li>
                <li>4pm: <span id='name'></span></li>
                <li>5pm: <span id='name'></span></li>
                <li>6pm: <span id='name'></span></li>
                <li>7pm: <span id='name'></span></li>
                <li>8pm: <span id='name'></span></li>
                <li>9pm: <span id='name'></span></li>
                <li>10pm: <span id='name'></span></li>
                <li>11pm: <span id='name'></span></li>
            </ol>
        </section>
        <section>
            <h2>Table 3</h2>
            <h4>TABLE CAPACITY</h4>
            <ol>
                <li>12pm: <span id='name'></span></li>
                <li>1pm: <span id='name'></span></li>
                <li>2pm: <span id='name'></span></li>
                <li>3pm: <span id='name'></span></li>
                <li>4pm: <span id='name'></span></li>
                <li>5pm: <span id='name'></span></li>
                <li>6pm: <span id='name'></span></li>
                <li>7pm: <span id='name'></span></li>
                <li>8pm: <span id='name'></span></li>
                <li>9pm: <span id='name'></span></li>
                <li>10pm: <span id='name'></span></li>
                <li>11pm: <span id='name'></span></li>
            </ol>
        </section>
        <section>
            <h2>Table 4</h2>
            <h4>TABLE CAPACITY</h4>
            <ol>
                <li>12pm: <span id='name'></span></li>
                <li>1pm: <span id='name'></span></li>
                <li>2pm: <span id='name'></span></li>
                <li>3pm: <span id='name'></span></li>
                <li>4pm: <span id='name'></span></li>
                <li>5pm: <span id='name'></span></li>
                <li>6pm: <span id='name'></span></li>
                <li>7pm: <span id='name'></span></li>
                <li>8pm: <span id='name'></span></li>
                <li>9pm: <span id='name'></span></li>
                <li>10pm: <span id='name'></span></li>
                <li>11pm: <span id='name'></span></li>
            </ol>
        </section>
    </body>

</html>